        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Memories Detail</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="blog-post blog-single-post">
							<!-- <div class="single-post-title">
								<h3>Post Title</h3>
							</div> -->
							<div class="single-post-info">
								<div class="comment-wrapper">
										<div class="comment-author"><img ng-src="{{resolvedPhoto(detail.createdBy.profile.photo)}}" class="img-circle" alt="Author 1">{{detail.createdBy.fullName}}
										</div>
									<i class="glyphicon glyphicon-time"></i>{{detail.created | date:"dd"}} {{detail.created | date:"MMM"}}, {{detail.created | date:"yyyy"}}  <a href="" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>{{detail.comments.length}}</a>
								</div>
							</div>
							<div class="single-post-image">
								<img ng-src="{{detailPhoto(detail.photo)}}" alt="Post Title">
							</div>
							<div class="single-post-content">
								<h3>Caption</h3>
								<p>
									{{detail.caption}}
								</p>
								<div class="comment-actions">
									<div style="float:right; font-size: 18px;weight:40px;"> </div>
									<a href="" data-toggle="tooltip" data-original-title="Like Up" class="show-tooltip" ng-click="upLike()" ng-if="isUpLike"><i class="glyphicon glyphicon-thumbs-up"></i></a>
									<a href="" data-toggle="tooltip" data-original-title="Like Down" class="show-tooltip" ng-click="downLike()" ng-if="isDownLike"><i class="glyphicon glyphicon-thumbs-down"></i></a>
									<span class="label label-success">+{{detail.totalLike}}</span>
								</div>
							</div>
							<!-- Comments -->
							<div class="post-coments">
								<h4>Comments ({{detail.comments.length}})</h4>
								<ul class="post-comments">
									<li ng-repeat="e in commentList">
										<div class="comment-wrapper">
											<div class="comment-author"><img ng-src="{{resolvedPhotoComment(e.createdBy.profile)}}" alt="User Name">{{e.createdBy.fullName}}</div>
											<p>
												{{e.value}}
											</p>
											<!-- Comment Controls -->
											<div class="comment-actions">
												<span class="comment-date">{{e.created | date:"MMM"}} {{e.created | date:"dd"}}, {{e.created | date:"yyyy"}} {{e.created | date:"shortTime"}} </span>
											</div>
										</div>
									</li>
									
								</ul>
								<!-- Pagination -->
								<div class="pagination-wrapper" ng-show="total > 0">
									<ul uib-pagination total-items="offset" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages" ng-change="pageChanged()"></ul>
								</div>
								<!-- Comments Form -->
								<h4>Leave a Comment</h4>
								<div class="comment-form-wrapper">
									<form ng-submit="newComment()">
										<div class="form-group">
											<label for="comment-message"><i class="glyphicon glyphicon-comment"></i> <b>Your Message</b></label>
											<textarea class="form-control" rows="5" ng-model="comment" required="true"></textarea>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-large pull-right">Send</button>
										</div>
										<div class="clearfix"></div>
				        			</form>
								</div>
								<!-- End Comment Form -->
							</div>
							<!-- End Comments -->
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
